@page "/tasks"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Stroom.Client.Services
@using Stroom.Shared
@using Stroom.Shared.Enums
@using Stroom.Shared.Models
@using static Stroom.Shared.Enums.TaskPropertiesEnums
@attribute [Authorize]
@inject HttpClient Http
@inject IProjectsService ProjectsService
@inject ITasksService TasksService
@inject AuthenticationStateProvider GetAuthenticationStateAsync

<PageTitle>Tasks</PageTitle>

<style>
    .flex-bottom{
        display: flex;
        align-items: flex-end;
    }

    .href-text {
    font-weight: 500;
    color: blue;
}

    .href-text:hover {
        text-decoration: underline;
    }
</style>

<MudExpansionPanels MultiExpansion="true">
    <div class="d-flex mb-4" style="justify-content: space-between;">
	    <MudButton Style="cursor: pointer; font-weight: bold;" OnClick="@ToggleOpen">
	    	@SelectedProjectName
        <MudIcon Icon="@(_isOpen ? Icons.Filled.KeyboardArrowUp : Icons.Filled.KeyboardArrowDown)" />
	    <MudPopover Open="@_isOpen" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
	    	<div class="d-flex flex-column pa-1">
                <MudButton Style="@(ShowAllProject ? "font-weight: bold;" : "font-weight: 400;")" OnClick="@(e => SelectProject(AllProjectsButtonText))">@AllProjectsButtonText</MudButton>
                <MudDivider Style="background-color: black;" />
                @foreach(var projectName in ProjectNames)
                {
                    <MudButton Style="@(SelectedProjectName == projectName ? "font-weight: bold;" : "font-weight: 400;")" OnClick="@(e => SelectProject(projectName))">@projectName</MudButton>
                }
	    	</div>
	    </MudPopover>
	    </MudButton>

        <MudStack Row="true" Style="align-items: center;" Spacing="0">
            <MudText Style="@(AssignedToMeOnly ? "font-weight: 400;" : "font-weight: 500;")">All tasks</MudText>
            <MudSwitch @bind-Checked="@AssignedToMeOnly" Color="Color.Primary" Style="margin-left: 0 !important; margin-inline-end: 0 !important;"></MudSwitch>
            <MudText Style="@(AssignedToMeOnly ? "font-weight: 500;" : "font-weight: 400;")">Assigned to me</MudText>
        </MudStack>
    </div>
    @foreach(var statusName in TaskPropertiesEnums.TaskStatuses)
    {
        var tasksFiltered = AllTasks.Where(i => i.Status == statusName && ((SelectedProjectName == AllProjectsButtonText) || (SelectedProjectName != AllProjectsButtonText && i.Project.Name == SelectedProjectName)) && ((!AssignedToMeOnly) || (AssignedToMeOnly && i.Assignee.Email == CurrentUserEmail))).ToList();
        var tasksCount = tasksFiltered.Count;
        if (tasksCount < 1) continue;
        ProjectHasAnyTasksAssigned = true;

        <MudExpansionPanel Class="mb-3">
             <TitleContent>
                    <div class="flex-bottom">
                        <MudIcon Icon="@Icons.Filled.KeyboardArrowDown" class="mr-3"></MudIcon>
                        <MudText class="mr-3" Style="font-weight: 500;">@statusName</MudText>
                        <MudText Typo="Typo.caption">@tasksCount tasks</MudText>
                    </div>
                </TitleContent>
            <ChildContent>
                <MudSimpleTable Style="overflow-x: auto; box-shadow: none;">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>TaskID</th>
                            <th>Name</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th>EstimatedTime</th>
                            <th>WorkedTime</th>
                            <th>DueDate</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in tasksFiltered)
                        {
                            <tr>
                                <td>@task.Project.Name</td>
                                <td><a href="@($"tasks/{task.TaskID}")" class="href-text">@task.TaskID</a></td>
                                <td><a href="@($"tasks/{task.TaskID}")" class="href-text">@task.Name</a></td>
                                <td>@task.Priority</td>
                                <td>@task.Status</td>
                                <td>@task.EstimatedTime</td>
                                <td>@task.WorkedTime</td>
                                <td>@task.DueDate?.ToShortDateString()</td>
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            </ChildContent>
        </MudExpansionPanel>
    }
    @if (!ProjectHasAnyTasksAssigned)
    {
        <MudText>There are none at the moment :) 
            But you can always add a new task by clicking a button bellow
        </MudText>
    }

    <MudButton href="/tasks/new">Add new task</MudButton>
</MudExpansionPanels>


@code {
    private readonly string AllProjectsButtonText = "All projects";
    private readonly int CurrentPage = 1;
    private readonly int RowsPerPage = 10;

    private bool ProjectHasAnyTasksAssigned = false;
    private bool AssignedToMeOnly = false;
    private bool ShowAllProject = true;

    private string SelectedProjectName = "All projects";
    private User CurrentUser = new User() { Name = "Emma Wills" };
    private string SearchString = "";
    private string CurrentUserEmail = "";

    private int PagesCount => (int) (Math.Ceiling(((double)AllTasks.Count() / (double)RowsPerPage)));

    private IEnumerable<TaskDto> AllTasks = new List<TaskDto>();
    private IEnumerable<string> ProjectNames = new List<string>();


    protected override async Task OnInitializedAsync()
    {
        CurrentUserEmail = await GetCurrentUserMail();
        AllTasks = await TasksService.GetAsync();
        ProjectNames = (await ProjectsService.GetAsync()).Select(result => result.Name).ToList();
    }

    public bool _isOpen;

    public void ToggleOpen()
    {
        if (_isOpen)
            _isOpen = false;
        else
            _isOpen = true;
    }

    public void SelectProject(string projectName)
    {
        ShowAllProject = (projectName == AllProjectsButtonText);
        SelectedProjectName = projectName;
        _isOpen = false;
        ProjectHasAnyTasksAssigned = false;
    }

    private bool FilterFunc(TaskDto task)
    {
        if (string.IsNullOrWhiteSpace(SearchString))
            return true;
        if (task.Name.Contains(SearchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (task.TaskID.ToString().Contains(SearchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    private async Task<string> GetCurrentUserMail()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        return user.Identity.Name;
    }
}